.sidebar {
    background-color: #3c89f5;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #ffffff, #3c89f5),
        repeating-radial-gradient(
            circle at center center,
            #ffffff,
            #ffffff,
            40px,
            transparent 80px,
            transparent 40px
        );
    background-blend-mode: multiply;
}
